.jexica {
  font-family: 'Syne', sans-serif;
  font-size: 130px;
  font-weight: 700;
  /* margin-left: 3%;
  margin-top: 10px; */
  /* z-index: 10; */
  /* position: absolute; */
  /* z-index: 1;
  letter-spacing: 4px; */
}


.jexica-block {

}

.fakeimg {
  height: 200px;
  background: #aaa;
}


a img {
  display:none;
  position: absolute;
  margin-left: 25%;
  top: 10%;
  z-index: 3;
}

a:hover img {
  display:block;
}

.work:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

.work:visited {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

.work:hover {
  color: black;
  background-color: yellow;
  text-decoration: none;
}

.work:active {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

.lead {
  font-size: 35px;
}


/* h4 {
  font-family: "Roboto Mono", Helvetica;
  /* z-index: 10; */
  /* position: absolute;
  margin-top: 25px;
  margin-left: 10px;
  z-index: 1;
  font-style: light;
  font-size: 16px;
} */

/* th {
  text-align: left;
  font-family: "Roboto Mono";
  z-index: 1;
} */

/* td {
  font-family: "Roboto Mono";
  z-index: 1;
} */

/* * {
  box-sizing: border-box;
  width: 100%;
} */

/*4 column types for @media differences*/
/* .column1,
.column2,
.column3,
.column4 {
  column-count: 4;
  float: left;
  width: 25%;
  padding-left: 40px;
  padding-top: 15px;

} */

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

@media only screen and (max-width: 1000px) {
  .column2,
  .column3 {
    display: none;
    z-index: 1;
  }
  .jexica {
    font-size: 110px;
    /* padding-top: 5%; */

    z-index: 1;

  }
  .column1 {
    color: white;
    opacity: 85%;
    z-index: 10;
    position: absolute;
    width: 100%;
  }
  .column4 {
    color: white;
    opacity: 70%;
    padding-top: 40px;
    position: absolute;
    z-index: 1;
    width: 100%;
  }
}

/* .bkgd { */
/* position: absolute; */
/* clip: rect(0px, 1280px, 750px, 0px); */
/* z-index: 0; */
/* } */

img,
body {
  width: 100%;
  overflow-x: hidden;
  margin-left: -1px;
  margin-top: -10px;
}

div.gallery {
  border: 0px;
  z-index: 50;
  position: static;
}

div.gallery:hover {
  border: 0px;
}

div.gallery img {
  width: 100%;
  height: auto;
  /* z-index: 50; */
}

div.desc {
  padding: 0px;
  margin-top: -2px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 0px;
  float: left;
  width: 24.99999%;
}

/* @media only screen and (max-width: 1000px) {
  .responsive {
    width: 49.99999%;
    height: 10%;
  }
} */

/* @media only screen and (max-width: 800px) {
  .responsive {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .about {
    width: 100%;
  }
} */

/* .clearfix:after {
  content: "";
  display: table;
  clear: both;
} */

.about {
  font-family: "Roboto Mono", Helvetica;
  /* z-index: 10; */
  position: absolute;
  margin-top: 10px;
  margin-left: 35px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  z-index: 1;
  padding-right: 50px;
  color: black;

}

.link:link {
  text-decoration: none;
  color: black;
}
/* mouse over link */
.link:hover {
  color: black;
  background-color: yellow;
  text-decoration: underline;
}

h4:hover {
  color: yellow;
}
